
<br>
<form action="/sessions" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	Email: <input type="text" name = "email" placeholder = "email"><br><br>
	Password: <input type="password" name = "password" placeholder = ""><br><br>
	<input type="submit" name="Log In" value="Log In">
</form>


<br>


